---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
import { eyeIcon } from "astro-icon/components";
import React from 'react';

---

<section class="space-y-6 py-12 sm:py-20 lg:py-20">
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">
    <a
      href="https://x.com/atl5d"
      class={cn(
        buttonVariants({ variant: "outline", size: "sm", rounded: "full" }),
    "px-4 font-bold"
      )}
      target="_blank"
    >
      <span class="mr-3">🅰️</span> @ATL5D ON{" "}
      <Icon name="twitter" class="ml-2 size-3.5" />
    </a>

    <h1
      class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    > ATL5D 🅰️commerce is the new {" "}<span class="text-gradient_indigo-purple font-extrabold">digital</span>  Ecommerce with 🅰️TL ☔ rewards
    </h1>
    <p className="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8">
      We united Atlanta on 2 (block) chains to educate and empower residents to “Rise Up” and learn how the digital twin 🅰️conomy works
      for them. Earn ☔🅰️TL memecoin Tips for creating no-cap memes and supporting ATL5D biz on-chain to climb the city leaderboard.
    </p>
    <div class="flex justify-center space-x-2 md:space-x-4">
      <a
      href="https://t.me/blum/app?startapp=memepadjetton_ATL_llnJs-ref_9K5kvzkHYM"
      target="_blank"
      rel="noreferrer"
        class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2")}
      >
        <span>Buy 🅰️TL</span>
        <Icon name="lucide:arrow-right" class="size-4" />
      </a>
      <a
        href="https://adtc.atl5d.com" 
        class={cn(
          buttonVariants({
            variant: "outline",
            size: "lg",
            rounded: "full",
          }),
          "px-5"
        )}
      >

        <p>
          <span class="hidden sm:inline-block">ADTC</span>🃏 Trap Game{" "}
          <!-- <span class="font-semibold">{nFormatter(stars)}</span> -->
        </p>
      </a>
    </div>
  </div>
</section>
