---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
import { eyeIcon } from "astro-icon/components";
import React from 'react';

---

<section class="space-y-6 py-12 sm:py-20 lg:py-20">
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">
    <a
      href="https://x.com/atl5d"
      class={cn(
        buttonVariants({ variant: "outline", size: "sm", rounded: "full" }),
    "px-4 font-bold"
      )}
      target="_blank"
    >
      <span class="mr-3">🅰️</span> @ATL5D ON{" "}
      <Icon name="twitter" class="ml-2 size-3.5" />
    </a>

    <h1
      class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    >
        Sub to ATL5D Discord to Unlock Atlanta PPV{" "}
      <span class="text-gradient_indigo-purple font-extrabold">
        D-Commerce
      </span>
    </h1>
    <p className="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8">
      Stop giving content for likes you can sell as D-commerce for royalties. ATL5D is onboarding Atlanta to the blockchain economy they own as
      D-commerce in three easy steps. 
      1️⃣ Create a Coinbase wallet AKA <a href="https://wallo.atl5d.com"><b>Wallo</b></a> (3 mins). 
      2️⃣ Subscribe to ATL5D <a href="https://discord.com/servers/atl5d-1244450286337003520"><b>Discord</b></a> 
      3️⃣ Claim your $ATL monthly tribe check to TIP in the ATL5D. 📈 
      <a href="https://market.atl5d.com"><b>Market</b></a> 🎙️ 
      <a href="https://podcast.atl5d.com"><b>Podcast</b></a> 🎬 
      Capcut Ads 🔌 <a href="https://tiktok.com/@atl5d"><b>TikTok</b></a> Effects 📺 
      <a href="https://bet.atl5d.com"><b>BET</b></a> 🎰 
      <a href="https://casino.atl5d.com"><b>Casino</b></a>
    </p>
    <div class="flex justify-center space-x-2 md:space-x-4">
      <a
      href="https://discord.com/servers/atl5d-1244450286337003520"
      target="_blank"
      rel="noreferrer"
        class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2")}
      >
        <span>Subscribe</span>
        <Icon name="lucide:arrow-right" class="size-4" />
      </a>
      <a
        href="https://wallo.atl5d.com" 
        class={cn(
          buttonVariants({
            variant: "outline",
            size: "lg",
            rounded: "full",
          }),
          "px-5"
        )}
      >

        <p>
          <span class="hidden sm:inline-block">Create</span> $ATL Wallet{" "}
          <!-- <span class="font-semibold">{nFormatter(stars)}</span> -->
        </p>
      </a>
    </div>
  </div>
</section>
