---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Pricing" mainClass="flex-1 bg-background-200">
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
  >
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Subscribe to ATL5D 
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
      Remove the social algorithms blocking your business from reaching customers by tokenizing your services and products as digital merch.
      Brand your ATL5D Discord and Telegram channels that act as a ATL5D CRM for your digital merch. Pay Atlanta residents in ATEAM ATL memecoins
      for supporting and promoting your digital merch.  
      </p>
    </div>

    {/* PRO Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          ATL5D Idol Effect Campaign
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" />TikTok or Instagram branded Effect</a>
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" />@ATL5D promo post </a>
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" />ATL5D Idol contest date and prize announcement </a>
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" />ATL5D Idol event</a>
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" />Branded ATL5D Idol Discord channel to submit reels</a>
          </li>
          <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" />ATL5D Idol effect marketing campaign</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$199</h4>
          <p class="text-sm font-medium text-muted-foreground">
            One Time
          </p>
        </div>
        <a href="https://buy.stripe.com/eVa7tN4dNd1W0Tu9B1" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* Club 112 Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          ATL5D Club 112
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Join the ATL5D Mastermind private channel 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Ask the Wizard of Hahz anything about ATL5D
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Earn ATL memecoins for completing daily quests
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Learn how earn crypto buying/selling ADTC 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Learn how to earn crypto selling ATL5D merch
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Network with other ATL memecoin holders
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$13</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Billed Monthly
          </p>
        </div>
        <a href="https://discord.com/servers/atl5d-1244450286337003520" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* Midtown Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          Midtown plan (5 Business day turnaround time)
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded ATL5D Discord/Telegram channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Tokenize 10 services/products as ATL5D merch
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded @ATL5D Welcome to ATL5D reel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> ATL5D Blog PR explaining your ATL5D merch
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> IG Featured post
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> 100k in ATL memecoins
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$100</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Billed Monthly
          </p>
        </div>
        <a href="https://discord.com/servers/atl5d-1244450286337003520" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* Gold Room Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          Gold Room plan (7 Business day turnaround)
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Everything in the Club 112 and Midtown plan
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Wizard of Hahz 30 min brainstorm session
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> 44 ATL5D merch services/products 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> 200K ATL memecoins
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Bitcoin Gold Room member card (month/date/year)
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Premium Support
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$200</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Billed Monthly
          </p>
        </div>
        <a href="https://discord.com/servers/atl5d-1244450286337003520" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* $ATL Booty One-time Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          ATL5D VIP 
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded TikTok AR Effect with analytics 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded ATL5D audio/pic/video merch 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded ATL5D short reel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> ATL5D social post
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> ATL5D merch drop date
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Live TikTok drop event
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$999</h4>
          <p class="text-sm font-medium text-muted-foreground">
            One-time Payment
          </p>
        </div>
        <a href="https://buy.stripe.com/14k01leSrfa4au4dRi" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
      <p class="max-w-[85%] leading-normal text-muted-foreground sm:leading-7">
        Email hi(🅰️T)atl5d.com, DM @ATL5D on TikTok or join the @ATL5D Telegram/Discord for any questions{" "}
        <strong>7 Day free trial for Midtown and Gold Room tiers.</strong>
      </p>
    </div>
  </section>
</MainLayout>
