---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Pricing" mainClass="flex-1 bg-background-200">
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
  >
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        You Got To Pay The Price
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        If you want to see and own a piece of the real Atlanta, you got to pay the PPV price.
      </p>
    </div>

    {/* PRO Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          BBL (Base Booty Lift) Pack
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> 1M $ATL Booty airdropped to a verified <a href="https://keys.coinbase.com/">CoinBase wallet</a>
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> @ATL5D Custom TikTok Big Booty Effect
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> @ATL5D X Retweet Post 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> @ATLGA5D IG Story
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> ATL5D Big Booty Discord Role
          </li>
          <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> @ATL5D Follow Train Day
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$199</h4>
          <p class="text-sm font-medium text-muted-foreground">
            One Time
          </p>
        </div>
        <a href="https://buy.stripe.com/eVa7tN4dNd1W0Tu9B1" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* Club 112 Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          What&apos;s included in the Club 112 plan
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Barter, buy and sell D-commerce
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Join and win local quests to get paid the same day
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the Only Pets channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the transportation channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the GM channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the Live5D voice channel
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$13</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Billed Monthly
          </p>
        </div>
        <a href="https://discord.com/servers/atl5d-1244450286337003520" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* Midtown Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          What&apos;s included in the Midtown plan
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the Hair, Music, Movie channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock a branded Discord channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock a branded ATLverse channel with a portal to external links
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the Foodie channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the Gamers channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock the Pics channel
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$100</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Billed Monthly
          </p>
        </div>
        <a href="https://discord.com/servers/atl5d-1244450286337003520" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* Gold Room Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          What&apos;s included in the Gold Room plan
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock all of the Club 112 and Midtown channels
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Unlock a branded Voice channel
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Custom Solana QR POS
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Dashboard Analytics
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Bitcoin Gold Room member card 
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Premium Support
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$200</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Billed Monthly
          </p>
        </div>
        <a href="https://discord.com/servers/atl5d-1244450286337003520" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    {/* $ATL Booty One-time Plan */}
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          ATL5D VIP 
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Tokenize a Pic
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Tokenize Audio
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Tokenize Video
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Tokenize One W3W /// Block
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded ATL5D TikTok Effect
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Branded VIP ATLverse Event
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-7xl font-bold">$999</h4>
          <p class="text-sm font-medium text-muted-foreground">
            One-time Payment
          </p>
        </div>
        <a href="https://buy.stripe.com/14k01leSrfa4au4dRi" class={cn(buttonVariants({ size: "lg" }))}>
          Get Started
        </a>
      </div>
    </div>

    <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
      <p class="max-w-[85%] leading-normal text-muted-foreground sm:leading-7">
        Join the free Discord for any questions{" "}
        <strong>7 Day free trial for Midtown and Gold Room tiers.</strong>
      </p>
    </div>
  </section>
</MainLayout>
