import { useState, useEffect } from "react";
import CoinbaseWalletSDK from "@coinbase/wallet-sdk";

const App = () => {
  const [sdk, setSdk] = useState(null);
  const [provider, setProvider] = useState(null);
  const [addresses, setAddresses] = useState([]);

  useEffect(() => {
    const initCoinbaseWalletSDK = async () => {
      const newSdk = new CoinbaseWalletSDK({
        appName: "ATL5D",
        appChainIds: [84532],
      });
      setSdk(newSdk);

      const newProvider = newSdk.makeWeb3Provider();
      setProvider(newProvider);

      const newAddresses = await newProvider.request("eth_requestAccounts");
      setAddresses(newAddresses);
    };

    initCoinbaseWalletSDK();
  }, []);

  return (
    <div>
      <h1>Create a FREE ATL5D BANKhead Account</h1>
      <p>
        ATL5D partnered with{" "}
        <a href="https://coinbase.com">
          <b>Coinbase</b>
        </a>{" "}
        to solve the problem of 60K+ Atlanta's unbanked households having the
        ability to have a bank account, subscribe to ATL5D to receive $ATL B🍑🍑ty
        money airdropped to your verified ATL5D account.
      </p>
      <p>
        Verify all $ATL transactions in this Base{" "}
        <a href="https://base.blockscout.com/">
          <b>Explorer</b>
        </a>{" "}
        explorer by searching the wallet addresses involved in the transaction.
      </p>
      <p>
        <b>Tag us @ATL5D on TikTok #🅰️🏦 and drop your 🅰️🏦 in the ATL5D Discord #intro channel.</b>
      </p>
    </div>
  );
};

export default App;
