---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Pricing" mainClass="flex-1 bg-background-200">
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
  >
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Create a FREE ATL5D Account 
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        ATL5D partnered with Coinbase to solve the problem of 60K+ Atlanta's unbanked households having the ability to have a bank account. Subscribe to ATL5D to receive $ATL B🍑🍑ty money airdropped to your verified ATL5D account.
      </p>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        Verify all $ATL transactions in this Base <a href="https://base.blockscout.com"><b>Explorer</b></a> explorer by searching the wallet addresses involved in the transaction.
      </p>
    </div>

    <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
      <p class="max-w-[85%] leading-normal text-muted-foreground sm:leading-7">
        Join the free Discord for any questions{" "}
        <strong>7 Day free trial for Midtown and Gold Room tiers.</strong>
      </p>
    </div>
  </section>

  <script type="module">
    import { CoinbaseWalletSDK } from "@coinbase/wallet-sdk"; // Ensure the correct import
    
    // Initialize Coinbase Wallet SDK
    const sdk = new CoinbaseWalletSDK({ appName: "An Awesome App", appChainIds: [84532] });
    
    // Make web3 provider
    const provider = sdk.makeWeb3Provider();
    
    // Initialize wallet connection
    provider.request({ method: "eth_requestAccounts" }).then((addresses) => {
      console.log("Connected addresses:", addresses);
    });

    async function setupCoinbase() {
      // Paste in your API key name and private key generated from https://portal.cdp.coinbase.com/access/api below:
      const apiKeyName = "organizations/d1ef1b86-5a0a-4f05-b443-4e105c61edae/apiKeys/ef151261-2b26-4df9-98d7-f9d66d0ed57c";
      const apiKeyPrivateKey = "-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEIOeY75/UgnSmQTbwGIRowWMhoEWDmyKsEFNGEinSWb34oAoGCCqGSM49\nAwEHoUQDQgAEJBDvWW3Lt4a+ywZ+BeqwlnnQEG+AqTIqdOwOGd+L8CvCYIjTLXt+\n+C7x5SU99gzSfgDCq1O6i9sPXyY1//MstQ==\n-----END";
    
      const coinbase = new Coinbase(apiKeyName, apiKeyPrivateKey);
    
      // Obtain the default user for the API key.
      const user = await coinbase.getDefaultUser();
    
      // Create your first wallet.
      const wallet = await user.createWallet();
    
      // Fund your wallet using a faucet.
      await wallet.faucet();
    }

    setupCoinbase().catch(console.error);
  </script>
</MainLayout>